$color-accent: #FF8B0F
    
$font-serif: "Charis", serif
$font-sans: "Inter", sans-serif

$heading-font-family: $font-sans
$body-font-family: $font-sans
$h5-size-desktop: pxToRem(28)
$h5-size: pxToRem(20)
$h5-font-family: $font-serif
$h5-text-transform: none

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$header-dropdown-full: true
$hero-background-color: none
$footer-background-color: none

$color-background: #F7F5F2
