$heading-font-family: "Inter", "Helvetica", "Arial", sans-serif
$body-font-family: "Inter", sans-serif

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$hero-background-color: none
$footer-background-color: none

$color-background: #F7F5F2
