p
    font-feature-settings: 'salt' on, 'ss02' on

.block .top
    margin-bottom: 1.5rem

i
    font-family: $font-serif

.block-pages .grid article .media img,
.block-pages .cards article .media img,
.block-pages .list article .media img,
.pages .grid article .media img,
.pages .cards article .media img,
.pages .list article .media img
    aspect-ratio: initial

.hero .content hgroup.has-lead>p
    color: $color-background
    background-color: $color-accent
    font-family: $font-serif
    font-size: 24px
    border-radius: 24px
    padding: 4px 8px
    width: fit-content

footer#document-footer .container + .container, footer#document-footer .container
    &.financement
        display: flex
        flex-direction: column
        gap: 24px
        p 
            font-size: 16px
            max-width: 720px
            margin-top: 0

.logo-financement
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 16px

    >img
        height: 80px
        // width: 100%

        @include small
        height: 60px

footer#document-footer .container + .container
    align-items: flex-start

.block-testimonials blockquote
    p
        font-style: normal
        color: #000000
        font-size: $quote-font-size
        font-family: $font-sans
