p
    font-feature-settings: 'salt' on, 'ss02' on

.block .top
    margin-bottom: 1.5rem

i
    font-family: $font-serif

.block-pages .grid article .media img,
.block-pages .cards article .media img,
.block-pages .list article .media img,
.pages .grid article .media img,
.pages .cards article .media img,
.pages .list article .media img
    aspect-ratio: initial

.hero .content hgroup.has-lead>p
    color: $color-background
    font-family: $font-serif
    font-size: 24px
    line-height: 50px

    >i
        background-color: $color-accent
        border-radius: 24px
        padding: 0 12px
        width: fit-content

    >b
        background-color: #0E0E0E
        border-radius: 24px
        padding: 0 12px
        width: fit-content

footer#document-footer .container + .container, footer#document-footer .container
    &.financement
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        align-items: flex-end
        margin: 40px 0
        gap: 24px
        @media (max-width: 992px)
            gap: 5px
            margin: 0px 0
        p
            font-size: 16px
            max-width: 720px
            margin-top: 0

.all-financement
    display: flex
    flex-direction: column
    align-items: flex-end
    gap: 24px

    p
        text-align: end

.logo-financement
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 16px

    >img
        height: 80px

        @include small
        height: 60px

footer#document-footer .container
    align-items: flex-end
    padding-bottom: 0
footer#document-footer
    padding-bottom: 20px

footer#document-footer
    position: relative
    overflow: hidden
    hr
        margin: 20px 62px 10px
        @media (max-width: 1400px)
            margin: 20px 48px 10px
        @media (max-width: 992px)
            margin: 20px 24px 10px
    p
        font-size: 16px
        line-height: 1.1

    .page-title
        height: auto
        a
            font-size: 16px
            height: 17.6px

    .search-button
        font-size: 24px !important

    .menu-footer a
        font-size: 24px !important

    .footer-site
        width: 50%
        align-items: flex-start

    .nav-level-1
        display: flex
        justify-content: space-between

    .logo-final
        position: absolute
        bottom: -170px
        right: -170px

.block-testimonials blockquote
    p
        font-style: normal
        color: #000000
        font-family: $font-sans

@media (min-width: 1200px)
    .block-testimonials blockquote.is-long p
        font-size: 30px

blockquote
    position: relative
    padding: 32px 0
    overflow: visible

.quote
    position: absolute
    width: 80px
    z-index: -9

    @include small
    width: 60px

.quote-debut
    transform: rotate(180deg)
    left: -24px
    top: 0

    @include small
    left: -12px

.quote-fin
    right: -12px
    bottom: 0

    @include small
    right: -12px

.blocks .block-call_to_action .block-content, body.full-width .block-call_to_action .block-content
    padding-top: 0rem

    .actions>a
        background-color: $color-background
        color: #0E0E0E
        border: 2px solid #0E0E0E
        border-radius: 8px

        &:hover
            border: 2px solid #0E0E0E
            background-color: #0E0E0E

@media(max-width: 991.98px)
    footer#document-footer .container+.container,footer#document-footer .container>*+*
    margin-top: 10px !important
    footer#document-footer .container+.container.financement,footer#document-footer .container.financement
        align-items: flex-start
        display: flex
        margin-top: 100px !important
        flex-direction: column !important
        gap: 32px
        p
            text-align: start
    .logo-financement
        display: flex
        align-items: center
        gap: 0px
        img
            object-fit: contain

