<div class="container">
    <div class="footer-logo" >
      {{ partial "footer/logo.html" }}
    </div>
    <div class="footer-site">
        <div class="menu-footer">
            <div class="menu" id="navigation">
                <ul class="nav-level-1 ">
                <li class=" has-children">
                    <a href="/femmes/">Femmes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-femmes">
                        <ul class="nav-level-2 ">
                        </ul>
                    </div>
                </li>
                <li><a href="/le-dispositif/" title="Le dispositif">
                    Le dispositif
                  </a>
                </li>
                <li>
                    <a href="/a-propos/" title="A propos">A propos</a>
                </li>
                <li class="nav-search">
                    <button class="search-button search-button--primary" aria-expanded="false" aria-label="Rechercher">
                        <span>Rechercher</span>
                    </button>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container financement">
    <div class="all-financement">
        <div class="logo-financement">
            <img class="block-image" src="/assets/images/logo/france2030.png" alt="">
            <img src="/assets/images/logo/banque-territoire.png" alt="">
        </div>
        <p>Projet financé par le SGPI et opéré par la Banque des Territoires dans le cadre du PIA 3 - Territoires d’Innovation Pédagogique, sous l’égide de France 2030</p>
    </div>

    {{ partial "footer/credit.html" . }}
    
</div>
<div>
    <hr>
</div>

<div class="container" style="overflow: hidden;">
    <p>© 2025 Les voies de l’avenir</p>
    <article class="page">
        <h2 class="page-title">
            <a href="/a-propos/organisations/">Organisations</a>
        </h2>
        <div class="media"></div>
    </article>
    <article class="page">
        <p class="page-title">
            <a href="/a-propos/politique-de-confidentialite/">Politique de confidentialité</a>
        </p>
        <div class="media"></div>
    </article>
    
    <img src="/assets/images/logo-final.svg" width="400px"  class="logo-final">
</div>

